AppConsumidora/xml-resources/web-service-references/ServicoConta/wsdl/localhost_8080/WSBanco/services/ServicoConta.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws" xmlns:intf="http://ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="consultarDadosConta">
    <complexType>
     <sequence>
      <element name="idConta" type="xsd:int"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarDadosContaResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="consultarDadosContaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cadastroContaNovo">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
      <element name="idConta" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cadastroContaNovoResponse">
    <complexType>
     <sequence>
      <element name="cadastroContaNovoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cadastroConta">
    <complexType>
     <sequence>
      <element name="nome" type="xsd:string"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="cadastroContaResponse">
    <complexType>
     <sequence>
      <element name="cadastroContaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="saqueConta">
    <complexType>
     <sequence>
      <element name="valor" type="xsd:double"/>
      <element name="idConta" type="xsd:int"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="saqueContaResponse">
    <complexType>
     <sequence>
      <element name="saqueContaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositoConta">
    <complexType>
     <sequence>
      <element name="valor" type="xsd:double"/>
      <element name="idConta" type="xsd:int"/>
      <element name="senha" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="depositoContaResponse">
    <complexType>
     <sequence>
      <element name="depositoContaReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="saqueContaResponse">

      <wsdl:part element="impl:saqueContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositoContaRequest">

      <wsdl:part element="impl:depositoConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="depositoContaResponse">

      <wsdl:part element="impl:depositoContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cadastroContaResponse">

      <wsdl:part element="impl:cadastroContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDadosContaResponse">

      <wsdl:part element="impl:consultarDadosContaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarDadosContaRequest">

      <wsdl:part element="impl:consultarDadosConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cadastroContaNovoRequest">

      <wsdl:part element="impl:cadastroContaNovo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="saqueContaRequest">

      <wsdl:part element="impl:saqueConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cadastroContaRequest">

      <wsdl:part element="impl:cadastroConta" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cadastroContaNovoResponse">

      <wsdl:part element="impl:cadastroContaNovoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ServicoConta">

      <wsdl:operation name="consultarDadosConta">

         <wsdl:input message="impl:consultarDadosContaRequest" name="consultarDadosContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarDadosContaResponse" name="consultarDadosContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cadastroContaNovo">

         <wsdl:input message="impl:cadastroContaNovoRequest" name="cadastroContaNovoRequest">

       </wsdl:input>

         <wsdl:output message="impl:cadastroContaNovoResponse" name="cadastroContaNovoResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cadastroConta">

         <wsdl:input message="impl:cadastroContaRequest" name="cadastroContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:cadastroContaResponse" name="cadastroContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saqueConta">

         <wsdl:input message="impl:saqueContaRequest" name="saqueContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:saqueContaResponse" name="saqueContaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositoConta">

         <wsdl:input message="impl:depositoContaRequest" name="depositoContaRequest">

       </wsdl:input>

         <wsdl:output message="impl:depositoContaResponse" name="depositoContaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServicoContaSoapBinding" type="impl:ServicoConta">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultarDadosConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarDadosContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarDadosContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cadastroContaNovo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cadastroContaNovoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cadastroContaNovoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cadastroConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cadastroContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cadastroContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="saqueConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="saqueContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="saqueContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="depositoConta">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="depositoContaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="depositoContaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ServicoContaService">

      <wsdl:port binding="impl:ServicoContaSoapBinding" name="ServicoConta">

         <wsdlsoap:address location="http://localhost:8080/WSBanco/services/ServicoConta"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
